################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaiTap/BaiTapTH3/Bai01/.vs/Bai01
